      <div class="row">


        <div class="col-lg-4 ">
          <img class="img-circle" src="16878330.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>{{headerPanel.pickups[0].name}}</h2>
          <p>Blah Blah about yourself....</p>
          <p><a  ng-class="{active: headerPanel.isSelected(1)}" ng-click="headerPanel.selectTab(1)" class="btn btn-default" href="#" role="button">link to profile page &raquo;</a></p>
        </div><!-- /.col-lg-4 -->



         <div class="col-lg-4">
          <img class="img-circle" src="16878331.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>{{headerPanel.pickups[1].name}}</h2>
          <p>Blah Blah about yourself....</p>
          <p><a ng-class="{active: headerPanel.isSelected(2)}" ng-click="headerPanel.selectTab(2)" class="btn btn-default" href="#" role="button">link to profile page &raquo;</a></p>
        </div><!-- /.col-lg-4 -->



         <div class="col-lg-4">
          <img class="img-circle" src="16878332.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>{{headerPanel.pickups[2].name}}</h2>
          <p>Blah Blah about yourself....</p>
          <p><a ng-class="{active: headerPanel.isSelected(3)}" ng-click="headerPanel.selectTab(3)" class="btn btn-default" href="#" role="button">link to profile page &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
		
		
		
      </div><!-- /.row -->