<div ng-controller="CourseCtrl as course">
	<div class="row course-detail" id="java-course-intro"	>
        
		
		<div class="col-md-3 module-panel" >
         		 
			 <div> {{course.course.courseName}} {{course.pageHeader}}</div>
			 <ul class="modules">
			 
					<li ng-repeat="module in course.course.modules" class="thumbnail">
						
						<left-navigation> </left-navigation>
						
					</li>
			 </ul>
		  		  
	   </div>
	   
        <div >
		
			<p> {{course.pageHeader}}</p>

			<p> {{course.page}} <p>
        </div>
		
    </div>
</div>